body{ 
  text-align: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color:#001224;
  font-family: Source Sans Pro Light;
  color: #eee;
  display: flex;
  width: 100vw;
  height: 100vh;
}
.section{
  width: 80%;
  margin: 0 auto;
}
h1, h2, p{
 color: white;
}
h1{
  margin: 0 auto;
}
.sc{
  margin: 20px;
}
a{
  margin-left: 20px;
  margin-right: 20px;
  color: turquoise;
}
img{
  width: 26%;
  margin: 39px;
  box-shadow: 1px 1px 5px turquoise;
  transition: all 0.2s;
  border-radius: 20px;
}
img:hover{
  transform: scale(1.1);
}
.fixed{
  position: fixed;
  border: 1px solid turquoise;
  width: 100%;
  margin: 0 auto;
  background-color: turquoise;
  top: 0px;
}
h3{
  font-size: 20px;
  color: turquoise;
  font-family: monospace;
}
#menubar{
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}
main{
  display: flex;
  margin: auto;
  flex-direction: column;
}
.flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex2{
  display: flex;
  align-content: center;
}

/*@media (max-width: 1204px) {
  h3{font-size:20px;}
}

@media (max-width: 1018px) {
  h3{font-size:15px;}
}

@media (max-width: 1016px) {
  h3{font-size:10px;}
}

@media (max-width: 664px) {
  h2{font-size: 10px;}
}

@media (max-width: 414px) {
  h3{font-size: 5px;}
}*/

